[alias]
	ci = commit
	st = status -s
	co = checkout
	br = branch
	desc = describe

[user]
	name = Barosl LEE
	email = vcs@barosl.com
	signingkey = Barosl LEE

[core]
	pager =

[color]
	ui = true

[push]
	default = simple

[merge]
	ff = false

[branch]
	autosetuprebase = always
