[alias]
	ci = commit
	st = status -sb
	co = checkout
	br = branch
	desc = describe

	it = !git init && git commit -m 'Initial commit' --allow-empty
	lg = log --oneline --decorate --graph
	di = diff --word-diff
	dis = !git di --cached
	fe = fetch --all -tp
	ri = rebase -i --autosquash

	fixup = !sh -c 'git commit -m \"fixup! $(git log -1 --pretty='\\''%s'\\'' $@)\"' -
	squash = !sh -c 'git commit -m \"squash! $(git log -1 --pretty='\\''%s'\\'' $@)\"' -

	save = stash save
	pop = stash pop --index

	undo = reset --soft HEAD^

[user]
	name = Barosl LEE
	email = vcs@barosl.com
	signingkey = Barosl LEE

[core]
	pager = less -+$LESS -cRS

[color]
	ui = always

[push]
	default = simple

[merge]
	ff = false
	conflictstyle = diff3

[pull]
	rebase = true
